<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>采购合同盖章</string>
		<key>processDefinitionKey</key>
		<string>srm_purchase_contract_flow</string>
		<key>className</key>
		<string>YSContractStampedViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>评估申请</string>
		<key>processDefinitionKey</key>
		<string>project_assessment</string>
		<key>className</key>
		<string>YSFlowAssessmentViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>报备申请</string>
		<key>processDefinitionKey</key>
		<string>project_report</string>
		<key>className</key>
		<string>YSReportViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>编制内补员申请</string>
		<key>processDefinitionKey</key>
		<string>recruit_organization</string>
		<key>className</key>
		<string>YRecruitPersonAddController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>调岗补员申请</string>
		<key>processDefinitionKey</key>
		<string>recruit_adjust</string>
		<key>className</key>
		<string>YSFlowRecruitTransferApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>离职补员申请</string>
		<key>processDefinitionKey</key>
		<string>recruit_quit</string>
		<key>className</key>
		<string>YSFlowRecruitLeaveAddController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>编制调整申请</string>
		<key>processDefinitionKey</key>
		<string>recruit_readjustment</string>
		<key>className</key>
		<string>YSAuthorizedAdjustController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>offer申请</string>
		<key>processDefinitionKey</key>
		<string>recruit_offer</string>
		<key>className</key>
		<string>YSFlowOfferApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>新增岗位申请</string>
		<key>processDefinitionKey</key>
		<string>recurit_add_post</string>
		<key>className</key>
		<string>YSFlowRecruitJobApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙项目人员申请流程</string>
		<key>processDefinitionKey</key>
		<string>mpms_personapply_flow</string>
		<key>className</key>
		<string>YSMQProjectApplyViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙项目人员调派流程</string>
		<key>processDefinitionKey</key>
		<string>mpms_personallot_flow</string>
		<key>className</key>
		<string>YSMQProjectSecondedViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>内部往来函审批</string>
		<key>processDefinitionKey</key>
		<string>internal-notification</string>
		<key>className</key>
		<string>YSFlowInterContactsViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>出差变更申请</string>
		<key>processDefinitionKey</key>
		<string>ems_business_change_flow</string>
		<key>className</key>
		<string>YSFlowTripChangeViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙施工计划（前期准备）审批流程</string>
		<key>processDefinitionKey</key>
		<string>mqpmsplan_prepare</string>
		<key>className</key>
		<string>YSFlowTenderbargainingViewController</string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙材料需求审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_mtrl_require_info</string>
		<key>className</key>
		<string>YSMQMaterialViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙项目计划制定申请单</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_project_plan</string>
		<key>className</key>
		<string>YSFlowTenderbargainingViewController</string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>拟邀供应商招标审批流程</string>
		<key>processDefinitionKey</key>
		<string>srm_fran_invitation_flow</string>
		<key>className</key>
		<string>YSFlowTenderbargainingViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>招标议价/合同盖章审批流程</string>
		<key>processDefinitionKey</key>
		<string>srm_bid_contract_flow</string>
		<key>className</key>
		<string>YSFlowTenderbargainingViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>出差补录</string>
		<key>processDefinitionKey</key>
		<string>cshr_evection</string>
		<key>className</key>
		<string>YSFlowHRAttendanceViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤补录</string>
		<key>processDefinitionKey</key>
		<string>cshr_attendance</string>
		<key>className</key>
		<string>YSFlowHRAttendanceViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>点工日清</string>
		<key>processDefinitionKey</key>
		<string>cshr_hw</string>
		<key>className</key>
		<string>YSFlowHRClassViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>人员调薪</string>
		<key>processDefinitionKey</key>
		<string>cshr_salary</string>
		<key>className</key>
		<string>YSFlowHRViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>人员调班</string>
		<key>processDefinitionKey</key>
		<string>cshr_team</string>
		<key>className</key>
		<string>YSFlowHRClassViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>非正常离职</string>
		<key>processDefinitionKey</key>
		<string>cshr_abnormal_turnover</string>
		<key>className</key>
		<string>YSFlowHRDepartureViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>正常离职</string>
		<key>processDefinitionKey</key>
		<string>cshr_normal_turnover</string>
		<key>className</key>
		<string>YSFlowHRDepartureViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>入职流程</string>
		<key>processDefinitionKey</key>
		<string>cshr_entry</string>
		<key>className</key>
		<string>YSFlowHRViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>备用金</string>
		<key>processDefinitionKey</key>
		<string>ems_loan_client_flow</string>
		<key>className</key>
		<string>YSFlowStandbyMoneyViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>材料计划申请</string>
		<key>processDefinitionKey</key>
		<string>pms_mtrl_plan</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>顺丰到付件流程</string>
		<key>processDefinitionKey</key>
		<string>ysportal-express-sfdfj</string>
		<key>className</key>
		<string>YSFlowExpressFormListViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>顺丰寄件流程</string>
		<key>processDefinitionKey</key>
		<string>ysportal-express-sfjj</string>
		<key>className</key>
		<string>YSFlowExpressFormListViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>项目计划制定审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_project_plan</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>供应商信息变更流程</string>
		<key>processDefinitionKey</key>
		<string>srm_fran_change_flow</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>资产领用</string>
		<key>processDefinitionKey</key>
		<string>asset-apply</string>
		<key>className</key>
		<string>YSFlowAssetsApplyFormListViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤机</string>
		<key>processDefinitionKey</key>
		<string>assets-adts-machine</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>电脑备件</string>
		<key>processDefinitionKey</key>
		<string>asset-apply-repairs</string>
		<key>className</key>
		<string>YSFlowComputerRepairsViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>资产采购</string>
		<key>processDefinitionKey</key>
		<string>asset-apply-purchase</string>
		<key>className</key>
		<string>YSFlowAssetsBuyViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>礼品领用</string>
		<key>processDefinitionKey</key>
		<string>assets-present</string>
		<key>className</key>
		<string>YSFlowPresentViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>资产处理流程</string>
		<key>processDefinitionKey</key>
		<string>asset-apply-handle</string>
		<key>className</key>
		<string>YSFlowAssetsDisposeViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>资产责任转移</string>
		<key>processDefinitionKey</key>
		<string>assets-charge-shift</string>
		<key>className</key>
		<string>YSDutyTransferViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>资产归还</string>
		<key>processDefinitionKey</key>
		<string>assets-return</string>
		<key>className</key>
		<string>YSFlowAssetsReturnViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>资产转移</string>
		<key>processDefinitionKey</key>
		<string>assets-shift</string>
		<key>className</key>
		<string>YSFlowAssetsTransferViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>会议室申请</string>
		<key>processDefinitionKey</key>
		<string>meeting-apply</string>
		<key>className</key>
		<string>YSFlowMeetingRoomViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>知会</string>
		<key>processDefinitionKey</key>
		<string>let-person</string>
		<key>className</key>
		<string>YSAttendingDetailController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>供应商准入申请单</string>
		<key>processDefinitionKey</key>
		<string>srm_fran_flow</string>
		<key>className</key>
		<string>YSFlowSuuplyViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>项目计划纠偏审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_pro_plan_rectify</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>转阅</string>
		<key>processDefinitionKey</key>
		<string>turn_read</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>材料需求审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mtrl_require_info</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>装饰项目计划任务流程</string>
		<key>processDefinitionKey</key>
		<string>pms_zs_project_plan</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>装饰劳务计划制定流程</string>
		<key>processDefinitionKey</key>
		<string>pms_zs_labour_info</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>装饰劳务招标需求流程</string>
		<key>processDefinitionKey</key>
		<string>pms_zs_labour_tender</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>装饰劳务交底文件流程</string>
		<key>processDefinitionKey</key>
		<string>pms_zs_labour_file</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>材料招标、议价审批流程</string>
		<key>processDefinitionKey</key>
		<string>srm_tender_bid</string>
		<key>className</key>
		<string>YSFlowTenderViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤机申请</string>
		<key>processDefinitionKey</key>
		<string>assets-adts-machine</string>
		<key>className</key>
		<string>YSFlowAttendanceViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙招标需求审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_mtender</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙废弃招标需求审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_discard_mtender</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙入选劳务队伍审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_mlabour_team</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙废弃入选劳务队伍审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_discard_mlabour_team</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙平标文件审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_mbid</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>幕墙废弃平标文件审批流程</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_discard_mbid</string>
		<key>className</key>
		<string></string>
		<key>isMobile</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>出差申请流程</string>
		<key>processDefinitionKey</key>
		<string>ems_business_flow</string>
		<key>className</key>
		<string>YSFlowTripFormListViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>供应商复核考察申请单</string>
		<key>processDefinitionKey</key>
		<string>srm_fran_check_flow</string>
		<key>className</key>
		<string>YSFlowSuppyRecheckController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>报销单</string>
		<key>processDefinitionKey</key>
		<string>ems_expense_client_flow</string>
		<key>className</key>
		<string>YSFlowExpenseController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>发文</string>
		<key>processDefinitionKey</key>
		<string>ysportal_news_notice</string>
		<key>className</key>
		<string>YSFlowNotiTextController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>证书借用</string>
		<key>processDefinitionKey</key>
		<string>certificate-borrowing</string>
		<key>className</key>
		<string>YSFlowCertificateBorrowViewController</string>
		<key>isMobile</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>诉讼案件</string>
		<key>processDefinitionKey</key>
		<string>ysportal-legal-ssxx</string>
		<key>className</key>
		<string>YSFlowLawCaseInfoController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>施工主合同评审</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_contract_review</string>
		<key>className</key>
		<string>YSFlowPMSContractController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>施工主合同盖章</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_contract_seal</string>
		<key>className</key>
		<string>YSFlowPMSContractController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>施工主合同补充协议评审</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_supplement_contract_review</string>
		<key>className</key>
		<string>YSFlowPMSContractController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>主合同补充协议盖章</string>
		<key>processDefinitionKey</key>
		<string>pms_mq_supplement_contract_seal</string>
		<key>className</key>
		<string>YSFlowPMSContractController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>办公用品申请</string>
		<key>processDefinitionKey</key>
		<string>asset-apply-officesupply</string>
		<key>className</key>
		<string>YSFlowOfficeAndDrinksController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>疫情物质申请</string>
		<key>processDefinitionKey</key>
		<string>asset-apply-fightpest</string>
		<key>className</key>
		<string>YSFlowOfficeAndDrinksController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>酒水用品申请</string>
		<key>processDefinitionKey</key>
		<string>asset-apply-drinks</string>
		<key>className</key>
		<string>YSFlowOfficeAndDrinksController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>计价软件个人申请，使用和升级</string>
		<key>processDefinitionKey</key>
		<string>valuation-apply</string>
		<key>className</key>
		<string>YSBussinessFlowValuationController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>计价软件责任申请，资产申请（由信息部直接申请）</string>
		<key>processDefinitionKey</key>
		<string>valuation-administrators-apply</string>
		<key>className</key>
		<string>YSBussinessFlowValuationController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>物资申请单</string>
		<key>processDefinitionKey</key>
		<string>assets-supply</string>
		<key>className</key>
		<string>YSFlowGoodsApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>编制内补员申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_organization</string>
		<key>className</key>
		<string>YRecruitNewPersonAddController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>调岗补员申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_adjust</string>
		<key>className</key>
		<string>YSFlowNewRecruitTransferApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>离职补员申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_quit</string>
		<key>className</key>
		<string>YSFlowNewRecruitLeaveAddController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>编制调整申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_readjustment</string>
		<key>className</key>
		<string>YSFlowNewAuthorizedAdjustController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>offer申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_offer</string>
		<key>className</key>
		<string>YSFlowNewOfferApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>新增岗位申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_add_post</string>
		<key>className</key>
		<string>YSFlowNewRecruitJobApplyController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>减少任务，招聘调整申请</string>
		<key>processDefinitionKey</key>
		<string>joinus_task_adjust</string>
		<key>className</key>
		<string>YSFlowReduceTaskController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>新出差申请单查看详情</string>
		<key>processDefinitionKey</key>
		<string>ems_business_flow_new</string>
		<key>className</key>
		<string>YSFlowTripController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤加班申请流程</string>
		<key>processDefinitionKey</key>
		<string>atds_jiab_apply_flow</string>
		<key>className</key>
		<string>YSAttendanceFlowViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤因公外出申请流程</string>
		<key>processDefinitionKey</key>
		<string>atds_ygwc_apply_flow</string>
		<key>className</key>
		<string>YSAttendanceFlowViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>考勤请假/调休申请流程</string>
		<key>processDefinitionKey</key>
		<string>atds_qingj_apply_flow</string>
		<key>className</key>
		<string>YSAttendanceFlowViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>异常申诉申请流程</string>
		<key>processDefinitionKey</key>
		<string>atds_ycss_apply_flow</string>
		<key>className</key>
		<string>YSComplainFlowDetailGWViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>项目调休申请流程</string>
		<key>processDefinitionKey</key>
		<string>project_tx_apply_flow</string>
		<key>className</key>
		<string>YSAttendanceFlowViewController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>人事离职流程</string>
		<key>processDefinitionKey</key>
		<string>recruit_leave</string>
		<key>className</key>
		<string>YSFlowEmployeeLeaveController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>人事调岗流程</string>
		<key>processDefinitionKey</key>
		<string>recruit_transfer</string>
		<key>className</key>
		<string>YSFlowEmployeeExChangeController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>新出差申请单查看详情</string>
		<key>processDefinitionKey</key>
		<string>recruit_formals_newone</string>
		<key>className</key>
		<string>YSFlowBeOfficialController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>礼品退还流程</string>
		<key>processDefinitionKey</key>
		<string>assets-present-back</string>
		<key>className</key>
		<string>YSFlowbBussinessPresentBackController</string>
		<key>isMobile</key>
		<true/>
		<key>isNewInterface</key>
		<true/>
	</dict>
    <dict>
        <key>name</key>
        <string>修正考勤申请流程</string>
        <key>processDefinitionKey</key>
        <string>atds_writeOff_apply_flow</string>
        <key>className</key>
        <string>YSModifyFlowGWViewController</string>
        <key>isMobile</key>
        <true/>
        <key>isNewInterface</key>
        <true/>
    </dict>
</array>
</plist>
